<!DOCTYPE html>
<html>
  <head>
    <title>Blackbird</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property='og:title' content='Blackbird'>
    <meta property='og:image' content='https://media.giphy.com/media/9vsbAVJRYZpPGgd4Mw/giphy.gif'>
    <meta property='og:description' content='Blackbird is a clone of the stock-trading web app Robinhood.'>
    <meta property='og:url' content='http://blackbird-aa.herokuapp.com/#/'>
  

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
